.brand {
	--brand-padding: 0.1rem;
	--brand-font-size: 1.35rem;
	--brand-highlighted: var(--color-2-lighter);
}

.brand {
	padding: var(--brand-padding);
	display: flex;
	align-items: center;
	justify-content: center;
}

::deep .brand__link {
	width: inherit;
	height: inherit;
	text-decoration: none;
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand__name {
	font-size: var(--brand-font-size);
	font-weight: bolder;
}

.brand__name--highlighted {
	color: var(--brand-highlighted);
}

@media (min-width: 576px) {
	.brand {
		--brand-font-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.brand {
		--brand-font-size: 1.9rem;
	}
}

@media (min-width: 992px) {
	.brand {
		--brand-font-size: 2.15rem;
	}
}

@media (min-width: 1200px) {
	.brand {
		--brand-font-size: 2.4rem;
	}
}