.contact {
	--contact-icon-size: 1.5rem;
	--contact-icon-padding: 0.75rem;
	--contact-icon-color: var(--contact-color-lighter);
	--contact-icon-image: url("images/web.svg");

	--contact-color-dark: var(--color-1-dark);
	--contact-color-lighter: var(--color-2-lighter);
	--contact-color-darker: var(--color-3-darker);
	--contact-font: var(--font-2);

	display: flex;
	align-items: center;
	gap: 1rem;
	width: 300px;
	flex: 1;
}

.contact__icon-holder {
	background-color: var(--contact-color-dark);
	padding: var(--contact-icon-padding);
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__icon {
	width: var(--contact-icon-size);
	height: var(--contact-icon-size);
	background-color: var(--contact-icon-color);
	-webkit-mask: var(--contact-icon-image) no-repeat center / contain;
	mask: var(--contact-icon-image) no-repeat center / contain;
	flex-shrink: 0;
}

.contact__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	min-width: 0;
	overflow: hidden;
}

.contact__title,
.contact__detail {
	overflow-wrap: break-word;
	word-break: break-word;
	margin: 0;
}

.contact__title {
	font-family: var(--contact-font);
	color: var(--contact-color-darker);
	line-height: 1.2;
	font-size: 0.7rem;
}

.contact__detail {
	font-size: 0.875rem;
	font-weight: bold;
}