.service-card {
	--service-card-padding: 2rem;
	--service-card-border-color: var(--color-1-light);
	--service-card-color: var(--color-3-lighter);
}

.service-card {
	padding: var(--service-card-padding);
	border-bottom: 2px solid var(--service-card-border-color);
	color: var(--service-card-hover-color);

	/* remove later */
	/* position: relative; */
}

.service-card:hover {
	--service-card-color: var(--color-2-lighter);
}

.service-card__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service-card__number {
	font-size: 2rem;
	font-weight: bold;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--service-card-color);
}

.service-card__button {
	background-color: var(--service-card-color);
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

.service-card__button:hover {
	box-shadow: 0 0 10px rgb(255, 0, 0);
}

.service-card__arrow {
	font-size: 1.2rem;
}

.service-card__title {
	font-size: 2rem;
	font-weight: bold;
	font-family: var(--font-1);
	text-align: left;
	color: var(--service-card-color);
}

.service-card__description {
	font-size: 0.7rem;
	margin-top: 6px;
	line-height: 1.5;
	color: var(--color-3-darker);
	text-align: left;
}