.nav-left {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
}

.nav-logo {
	width: 2rem;
	height: 2rem;
	object-fit: contain;
}

.project-name {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-background);
	font-family: var(--font-heading);
}