<div class="nav-menu__item @CssClassName" @onclick="HandleNavMenuItemClickAsync">
	<NavLink class="nav-menu__link" href="@TargetUrl" Match=" NavLinkMatch.All">
		<span class="nav-menu__label">@DisplayText</span>
	</NavLink>
</div>

@code {
	[Parameter, EditorRequired] public NavigationLinkItemInfo NavigationLinkInfo { get; set; } = new();
	[Parameter] public EventCallback OnNavMenuItemClick { get; set; }

	public string CssClassName => NavigationLinkInfo.CssClassName;
	public string DisplayText => NavigationLinkInfo.DisplayText;
	public string RawTargetUrl => NavigationLinkInfo.RawTargetUrl;
	public string TargetUrl => NavigationUrlFormatter.GetFormattedSanitizedTargetUrl(RawTargetUrl,
	TargetUrlFormat.HashPrefix);

	private async Task HandleNavMenuItemClickAsync(MouseEventArgs mouseEventArgs)
	{
		if (OnNavMenuItemClick.HasDelegate)
		{
			await OnNavMenuItemClick.InvokeAsync();
		}
	}
}
