.nav-item {
	--navitem-padding: 0.6rem;
	--navitem-font-size: 1rem;
}

.nav-item {
	font-size: var(--navitem-font-size);
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.nav-item:hover,
.nav-item.active {
	color: var(--navitem-hover-color);
}

::deep .nav-item__link {
	color: inherit;
}

.nav-item__label {
	font-weight: bold;
	display: flex;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.nav-item__label--button {
	padding: 0.5rem 1rem;
	color: var(--color-1);
	background-color: var(--color-2-lighter);
	border-radius: 100px;
	justify-content: center;
}

.nav-item__label--button:hover {
	color: var(--color-2-lighter);
	background-color: transparent;
	border: 2px solid var(--color-2-lighter);
}

.nav-item__label--button-accent {
	padding: 0.5rem 1rem;
	color: var(--color-2);
	justify-content: center;
	border-radius: 100px;
	border: 2px solid var(--color-2-lighter);
}

.nav-item__label--button-accent:hover {
	color: var(--color-accent-main);
	background-color: var(--color-background-main);
}

::deep .nav-item__link--underline {
	position: relative;
	color: var(--color-2-lighter);
	width: 100%;
	transition: background-color 0.3s, width 0.3s ease;
}

/* The underline */
::deep .nav-item__link--underline::after {
	content: "";
	position: absolute;
	bottom: -0.2rem;
	width: 100%;
	height: 2px;
	background-color: var(--color-2-lighter);
	/* underline color */
	border-radius: 1px;
	z-index: -1;
}

@media (min-width: 576px) {
	.nav-item {
		--navitem-padding: 0.7rem;
	}
}

@media (min-width: 768px) {
	.nav-item {
		--navitem-padding: 0.8rem;
	}
}

@media (min-width: 992px) {
	.nav-item {
		--navitem-padding: 0.9rem;
	}

	.nav-item__label {
		justify-content: center;
	}
}

@media (min-width: 1200px) {
	.nav-item {
		--navitem-padding: 1rem;
	}
}