/* normal links */
.nav-text {
	color: var(--color-primary-muted);
	font-family: var(--font-heading);
	font-size: 1rem;
	font-weight: bolder;
	transition: color 0.1s;
}

.nav-text:hover,
.nav-text.active {
	color: var(--color-background);
}

/* button */
.nav-button {
	font-size: 0.95rem;
	font-family: var(--font-heading);
	font-weight: bolder;
	padding: 0.7rem 2rem;
	border-radius: 5px;
	border: 1px solid var(--color-background);
	background-color: transparent;
	color: var(--color-background);
	transition: background-color 0.1s, color 0.1s;
}

.nav-button:hover {
	background-color: white;
	color: black;
}