<div class="@CssClass">
	<NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">@Text</NavLink>
</div>

@code {
	[Parameter] public string Text { get; set; } = null!;
	[Parameter] public string Href { get; set; } = null!;
	[Parameter] public string CssClass { get; set; } = null!;
}
