@using System.ComponentModel.DataAnnotations;
@using MyPortfolio.Layout.Navigation;
@using MyPortfolio.Models.Navigation;

<nav class="top-nav">
    <div class="nav-container">
        <!-- Left: Logo and Project Name -->
        <NavBrand Brand="@Brand" />

        <!-- Center: Nav Links -->
        <div class="nav-center">
            @foreach (var item in NavLinkItems)
            {
                <NavLinkItem Text="@item.Text" Href="@item.Href" CssClass="nav-link" />
            }
        </div>

        <!-- Right: Contact Button -->
        <div class="nav-right">
            <div class="contact-btn">
                <NavLink class="nav-link" href="#contact">
                    <span class="nav-text">Contact Me</span>
                </NavLink>
            </div>
        </div>
    </div>
</nav>

@code {
    [Parameter] public NavBrandData Brand { get; set; } = null!;
    [Parameter] public NavLinkItemData[] NavLinkItems { get; set; } = null!;
}
