.nav-bar {
    --nav-bar-padding: 1rem 1.5rem;
    --nav-bar-toggle-button-size: 1.2rem;


    --sidebar-padding: 1.3rem;
    --sidebar-gap: 0.8rem;
    --sidebar-close-btn-size: 1rem;

    --sidebar-color: var(--color-1);
    --sidebar-overlay-color: #000000;
    --sidebar-separator: var(--color-1-light);
    --sidebar-close-btn-color-1: var(--color-2-lighter);
    --sidebar-close-btn-color-2: var(--color-2-light);
}

.nav-bar {
    padding: var(--nav-bar-padding);
    position: relative;
    background-color: transparent;
}

.nav-bar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.nav-bar__links,
.nav-bar__contact-link {
    display: none;
}

.nav-bar__toggle-btn {
    width: var(--sidebar-close-btn-size);
    height: var(--sidebar-close-btn-size);
    cursor: pointer;
    align-self: center;
}

.nav-bar__toggle-btn--mask {
    -webkit-mask-image: url("images/menu-button.svg");
    mask-image: url("images/menu-button.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    background-color: var(--sidebar-close-btn-color-1);
    mask-size: contain;
    border: none;
}

.nav-bar__toggle-btn--mask:hover,
.nav-bar__toggle-btn--mask:focus {
    background-color: var(--sidebar-close-btn-color-2);
}

@media (min-width: 576px) {
    .nav-bar {
        --nav-bar-padding: 1rem 1.8rem;
        --nav-bar-toggle-button-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        --nav-bar-padding: 1rem 2rem;
        --nav-bar-toggle-button-size: 1.6rem;
    }
}

@media (min-width: 992px) {
    .nav-bar__links {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    .nav-bar__contact-link {
        width: 200px;
        display: flex;
        align-items: center;
    }

    .nav-bar__container {
        justify-content: space-between;
    }

    .nav-bar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        flex: 1;
    }

    .nav-bar__toggle-btn {
        display: none;
    }
}