@inherits LayoutComponentBase

<PageTitle>My Portfolio</PageTitle>

<div class="page">
	<main>
		<div class="nav-bar">
			<NavMenu Brand="@MainLayoutData.BrandInfo" NavLinkItems="@MainLayoutData.NavLinkItems"
				ContactData="@MainLayoutData.ContactData" />
		</div>

		<section id="content">
			<Home />
		</section>

		<Home />
		<Home />
		<Home />
		<Home />

		<section id="home">
			<Home />
		</section>
	</main>
</div>

@code {
	[Parameter] public MainLayoutData MainLayoutData { get; set; } = new();
}
