@inherits LayoutComponentBase
@using MyPortfolio.Layout.Navigation
@using MyPortfolio.Models.Navigation

<div class="page">
	<main>
		<NavMenu Brand="@_brandInfo" NavLinkItems="@_navLinkItems" ContactData="@_contactData" />

		<article class="content px-4 mt-4">
			@Body
		</article>
	</main>
</div>

@code {
	private NavBrandData _brandInfo = new()
	{
		LogoPath = "Images/icon.svg",
		AltText = "Logo",
		ProjectName = "GOSIjnr",
	};

	private NavLinkItemData[] _navLinkItems = new NavLinkItemData[]
	{
new NavLinkItemData { Text = "About Me", Href = "/home", CssClass = "nav-text" },
new NavLinkItemData { Text = "Skills", Href = "/counter", CssClass = "nav-text" },
new NavLinkItemData { Text = "Projects", Href = "/weather", CssClass = "nav-text" },
new NavLinkItemData { Text = "Resume", Href = "/myportfolio", CssClass = "nav-text" },
	};

	private NavLinkItemData _contactData = new()
	{
		Text = "Let's Connect",
		Href = "/contact",
		CssClass = "contact-btn"
	};
}
