<nav class="top-nav">
    <div class="nav-container">
        <!-- Left: Logo and Project Name -->
        <div class="nav-left">
            <img src="favicon.png" alt="Logo" class="nav-logo" />
            <span class="project-name">GOSIjnr</span>
        </div>

        <!-- Center: Nav Links -->
        <div class="nav-center">
            <NavLink class="nav-link" href="">About</NavLink>
            <NavLink class="nav-link" href="weather">Skills</NavLink>
            <NavLink class="nav-link" href="">Project</NavLink>
            <NavLink class="nav-link" href="counter">Resume</NavLink>
        </div>

        <!-- Right: Contact Button -->
        <div class="nav-right">
            <a class="btn contact-btn" href="#contact">Contact Me</a>
        </div>
    </div>
</nav>

