@page "/contact"
@using System.Text.Json

<div class="contact">
	<div class="contact__grid">
		<ContactForm ServicesNames="@_serviceNames" SelectedService="@_selectedService?.Name" />

		<div class="contact__info">
			@foreach (ContactInfo info in AppContent.User.ContactInfos)
			{
				<ContactOption ContactInfo="@info" />
			}
		</div>
	</div>
</div>

@code {
	[Inject] private AppContent AppContent { get; set; } = null!;
	[Inject] private SelectedServiceState SelectedServiceState { get; set; } = null!;

	private ContactFormModel _formModel = new();
	private ServiceInfo? _selectedService;
	private List<string> _serviceNames = [];

	protected override void OnInitialized()
	{
		_selectedService = SelectedServiceState.ConsumeSelectedService();

		if (_selectedService != null)
		{
			Console.WriteLine($"Selected service received: {_selectedService.Name}");
		}
		else
		{
			Console.WriteLine("No selected service received.");
		}

		foreach(ServiceInfo serviceInfo in AppContent.User.ServiceInfos)
		{
			_serviceNames.Add(serviceInfo.Name);
			Console.WriteLine($"Services received: {serviceInfo.Name}");
		}

		_serviceNames.Add("Others");
	}

	private void HandleValidSubmit()
	{
		Console.WriteLine("Email sent successfully!");
		Console.WriteLine(JsonSerializer.Serialize(_formModel));
	}
}
