@page "/contact"

<div class="contact">
	<h2 class="contact__title">Contact Me</h2>

	<div class="contact__info">
		<p class="contact__email">
			Email: <a href="mailto:gosijnr7@yahoo.com" class="contact__link">gosijnr7@yahoo.com</a>
		</p>

		<div class="contact__social">
			<p>Follow me:</p>
			<ul class="contact__social-list">
				@foreach (var social in AppContent.User.SocialLinks)
				{
					<li class="contact__social-item">
						<a href="@social.ProfilePageUrl" class="contact__social-link" target="_blank">
							<img src="@social.IconImageUrl" class="contact__social-icon" />
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

@code {
	[Inject] private AppContent AppContent { get; set; } = null!;
	[Inject] private SelectedServiceState SelectedServiceState { get; set; } = null!;

	private ServiceInfo? _selectedService;

	protected override void OnInitialized()
	{
		_selectedService = SelectedServiceState.ConsumeSelectedService();

		if (_selectedService != null)
		{
			Console.WriteLine($"Selected service received: {_selectedService.Name}");
		}
		else
		{
			Console.WriteLine("No selected service received.");
		}
	}
}