.contact {
	padding: 1rem;
}

.contact__grid {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.contact__info {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact__info>* {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.contact__info-icon {
	font-size: 1.5rem;
	color: orange;
}

.contact__info-title {
	margin: 0;
	font-size: 1.1rem;
	color: white;
}

.contact__info-detail {
	margin: 0;
	font-size: 0.95rem;
	color: #ccc;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
	.contact__grid {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.contact__info {
		justify-content: center;
	}
}