<div class="hero-section">
	<img src="Images/backdrop.jpg" alt="Backdrop" class="background-image" />

	<div class="hero-overlay">
		<div class="hero-content">
			<h1 class="hero-title">Code. Design. Deploy. <span class="highlight">Play.</span></h1>
			<p class="intro-text">
				I’m Victor Awugosi, a developer blending game dev and full-stack web to craft digital experiences people
				love to use.
			</p>

			<div class="button-group">
				<div class="button-wrapper">
					<NavLinkItem Text="Let's Connect" Href="#gg" CssClass="nav-button-accent" />
				</div>
				<div class="button-wrapper">
					<NavLinkItem Text="Check My Projects" Href="#gg" CssClass="nav-button" />
				</div>
			</div>

		</div>
	</div>
</div>
