@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<body>Welcome to your new app.
dasdasd
asdas
dasdasdd
adsadasdasd
dasdasda
dasdadad
asdasdasda
adasdasda
dasdadadadasd
dadsdsdwqqeweqw
ewqeqweqweqweqweqeq
ewqeqweqweqweqweqeqqewe
qewqeweqew
weqeweqeqww
weqwewqeqweqwewq
weqwewqeqweqwewqwqe
	eqweqweqeqw</body>
