@page "/"

<div class="home">
	<div class="home__container">
		<div class="home__photo">
			<img src="images/no-image.svg" alt="Luke Coleman photo" class="home__photo-img" />
		</div>

		<div class="home__intro">
			<span class="home__role">Digital Binary Warrior</span>

			<h1 class="home__greeting">Hello I'm <br><span class="home__name">Luke Coleman</span></h1>

			<p class="home__description">
				I excel at crafting elegant digital experiences and I am proficient in
				various programming languages and technologies.
			</p>

			<a class="home__cta" href="/cv.pdf" download>Download CV</a>

			<div class="home__socials">
				<a href="#" class="home__social"><i class="icon-question"></i></a>
				<a href="#" class="home__social"><i class="icon-linkedin"></i></a>
				<a href="#" class="home__social"><i class="icon-youtube"></i></a>
				<a href="#" class="home__social"><i class="icon-twitter"></i></a>
			</div>
		</div>
	</div>

	<div class="home__stats">
		<div class="home__stat"><span class="home__stat-number">12</span> Years of experience</div>
		<div class="home__stat"><span class="home__stat-number">26</span> Projects completed</div>
		<div class="home__stat"><span class="home__stat-number">8</span> Technologies mastered</div>
		<div class="home__stat"><span class="home__stat-number">500</span> Code commits</div>
	</div>
</div>


@code {

	[Inject] private IJSRuntime? Js { get; set; }
	[Inject] private AppContent? AppContent { get; set; }

	private HomePageContentInfo _homePageContentInfo => AppContent?.Layout?.HomePageContent ?? new();

	private string docxFileId = "1NdPAG_6jcNHaFta0fJK6lT5TlNLzEMgQ";
	private string previewFileId = "1NdPAG_6jcNHaFta0fJK6lT5TlNLzEMgQ";

	private async Task DownloadResume()
	{
		if (Js is null) return;

		string url = $"https://drive.google.com/uc?export=download&id={docxFileId}";
		await Js.InvokeVoidAsync("downloadFile", url);
	}

	private async Task PreviewResume()
	{
		if (Js is null) return;

		string previewUrl = $"https://drive.google.com/file/d/{previewFileId}/preview";
		await Js.InvokeVoidAsync("openFileInNewTab", previewUrl);
	}
}
