@page "/projects"

<section class="projects-section">
    <ProjectCard Title="Frontend Project" Description="Lorem ipsum dolor sit amet..."
        Technologies="HTML5, CSS3, JavaScript" ImageUrl="images/icon.svg" LiveUrl="https://example.com"
        GithubUrl="https://github.com/yourrepo" />
</section>

@code {
    [Inject] private AppContent AppContent { get; set; } = null!;

    private List<ProjectInfo> _projectInfoDetails => AppContent.User.ProjectInfos;

    protected override void OnInitialized()
    {
        foreach (var info in _projectInfoDetails)
        {
            string json = JsonSerializer.Serialize(info);
            Console.WriteLine(json);
        }
    }
}
