@page "/projects"

<section class="projects-section">
    @if (_projectInfoDetails.Count > 0)
    {
        <ProjectCard @bind-ProjectNo="_projectNo" ProjectInfo="_projectInfoDetails[_projectNo]"
            TotalProjects="_projectInfoDetails.Count" />
    }
    else
    {
        <p>Loading projects...</p>
    }
</section>

@code {
    [Inject] private AppContent AppContent { get; set; } = null!;

    private List<ProjectInfo> _projectInfoDetails => AppContent.User.ProjectInfos;
    private int _projectNo = 0;
}
