<div class="brand" @onclick="HandleBrandClickAsync">
	<NavLink class="brand__link" href="@_targetUrl" Match="NavLinkMatch.All">
		<span class="brand__name">@_displayText</span>
		<span class="brand__name brand__name--highlighted">@_highlightedDisplayText</span>
	</NavLink>
</div>

@code {
	[Parameter, EditorRequired] public BrandInfo BrandInfo { get; set; }
	[Parameter] public EventCallback OnBrandClick { get; set; }

	private string _displayText => BrandInfo.BrandDisplayName;
	private string _highlightedDisplayText => BrandInfo.BrandHighlightedDisplayName ?? string.Empty;
	private string _rawTargetUrl => BrandInfo.BrandRawTargetUrl ?? string.Empty;
	private string _targetUrl => NavigationUrlFormatter.GetFormattedSanitizedTargetUrl(_rawTargetUrl,
	TargetUrlFormat.Plain);

	private async Task HandleBrandClickAsync(MouseEventArgs mouseEventArgs)
	{
		if (OnBrandClick.HasDelegate)
		{
			await OnBrandClick.InvokeAsync();
		}
	}
}
